.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
    .login-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        min-height: 50vh;
        @media screen and (max-width: 800px) {
            width: 100%;
        }
        padding: 1.5em 0.5em;
        background-color: whitesmoke;
        h3{
            margin: 0 0 1em;
        }
        input{
            display: block;
            margin: 0.5em 0;
            padding: 0.5em;
            width: 100%;
            font-family: 'Poppins', sans-serif;
        }
        button {
            font-family: 'Poppins', sans-serif;
            background-color: #000;
            color: #fff;
            border: none;
            height: 48px;
            width: 100%;
            font-weight: 500;
            font-size: 0.8rem;
            padding: 1.2em;
            cursor: pointer;
            margin-top: 0.8em;
        }
        .error {
            padding: 1em;
            color: rgb(255, 0, 0);
        }
    }
    .sign-in-link {
        margin-top: 1em;
    }
}