.order {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    .items-summary{
        padding: 0.5em;
        margin: 0.5em 0 0;
        border-top: 2px solid #000;
        h4, span {
            font-style: italic;
        }
        h4{
            color: rgb(61, 61, 61);
            font-weight: 500;
        }
    }
    .fees-summary {
        padding: 0.5em;
        margin: 0.2em 0;
        strong {
            color: rgb(61, 61, 61);
        }
    }
    button {
        font-family: 'Poppins', sans-serif;
        background-color: #000;
        color: #fff;
        border: none;
        height: 48px;
        width: 100%;
        font-weight: 500;
        font-size: 0.8rem;
        padding: 1.2em;
        cursor: pointer;
        margin-top: 0.8em;
    }
}