.search {
    font-family: 'Poppins', sans-serif;
    position: relative;
    input {
        border: none;
        outline: none;
        // border-bottom: 1px solid #000;
        // background-color: transparent;
        padding: 1em;
        font-size: 0.8rem;
        font-weight: 500;
        display: block;
        width: 100%;
    }
    .search-icon {
        position: absolute;
        top: 13px;
        right: 8px;
        cursor: pointer;
    }
}