.search {
    font-family: 'Poppins', sans-serif;
    position: relative;
    input {
        border: none;
        outline: none;
        padding: 1em;
        font-size: 0.8rem;
        font-weight: 500;
        display: block;
        width: 100%;
    }
    .search-icon {
        position: absolute;
        top: 10px;
        font-size: 0.8rem;
        right: 8px;
        cursor: pointer;
    }
    .side {
        top: 14px;
    }
}